body{
    /* border: 25px solid #d9a173; */
}
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}

.item1{
    margin-top: 70px;
    margin-left: 50px;
}

.banner {
    height: auto;
    max-width: 100%;
}

.logo {
    height: 60px;
    width: auto;
}
.links {
    float: right;
    height: 15px;
    width: 15%;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 20px;
    line-height: 15px;
}
.links:hover{
    border-bottom: 1px solid #fc8019;
    color: rgb(62, 62, 62);
    /* width: auto; */
}
.signup {
    border-radius: 20px;
    /* margin-left: 10px; */
    background-color: black;
    color: white;
    margin-right: 50px;
}
.signup:hover{
    background-color: rgb(62, 62, 62);
    color: white;
}

.cravings-call:hover{
    text-transform: uppercase;
}

.locationinput{
    border-radius: 20px;
    width: 70%;
    height: 25px;
    color: gray;
    margin: 40px auto auto 0px;
    padding: 10px;
    font-size: 18px!important;
    font-weight: 500;
    /* border: #fc8019; */
}
.locationinput:hover{
    border: 1px solid #fc8019;
}
.location{
    color: #515153;
    font-weight: 700;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 358px;
    left: 460px;
    padding: 5px;
}
.location:hover{
    background-color: lightgrey;
    cursor: pointer;
    border-radius: 20px;
    /* background-image: url("<i class="fa-thin fa-location-crosshairs"></i>"); */
}
.findfood{
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 53px;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    margin-left: 0;
    padding-left: 0px;
    padding: 0 1.5rem;
    letter-spacing: 0;
    color: #fff;
    background-color: #fc8019;
}
.findfood:hover{
    background-color: #d16206;
}
.cities{
    font-size: 18px;
    color: #a9abb2;
    margin: 30px 0 10px;
    /* letter-spacing: 2px; */
    text-transform: uppercase;
}
.citylist{
    width: 650px;
    list-style: none;
    margin-top:20px ;
    letter-spacing: -.2px;
    padding: 0;
}
.list{
    font-weight: 600;
    font-size: 16px;
    margin-right: 8px;
    color: #686b78;
    line-height: 1.5;
    letter-spacing: -.3px;
    text-decoration: none;
}
.list:nth-child(even){
    color: lightslategray;
}
.list:hover{
    border-bottom: 1px solid #fc8019;
}

.info-container{
    /* background-color: #2b1e16; */
    background-color: #c1621c;
    display: grid;
    /* grid-template-columns: 33% 33% 33%; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(3, 1fr);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
    padding-bottom: 20px;
}

.test1 img{
    height: 200px;
    width: auto;
}
.test1{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0%;
    width: 70%;
    /* width: auto; */
    color: white;
}
.test1 p{
    font-weight: normal;
}

.test2 img{
    height: 200px;
    width: auto;
}
.test2{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    /* width: auto; */
    color: white;
}
.test2 p{
    font-weight: normal;
}

.test3 img{
    height: 200px;
    width: auto;
}
.test3{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    /* width: auto; */
    color: white;
}
.test3 p{
    font-weight: normal;
}

.app-download img{
    margin-top: 2px;
    width: 100%;
    height:fit-content;
}
.footer{
    background-color: #F0F0F5;
    margin-top: 2px;
}
.footer-head{
    /* font-weight: lighter; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 100;
}
.swiggy-logo{
    background-image: url("Images/logo1.png");
    height: auto;
}

.footer-copy{
    display: flex;
    justify-content: center;
}
.footer-copy img{
    padding-left: 20px;
}
